<%- model_class = User -%>

<h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>

  <%= model_class.human_attribute_name(:id) %>
  <%= model_class.human_attribute_name(:first_name) %>
  <%= model_class.human_attribute_name(:last_name) %>
  <%= model_class.human_attribute_name(:email) %>
  <%= model_class.human_attribute_name(:created_at) %>
  <%=t '.actions', :default => t("helpers.actions") %>

  <% @users.each do |user| %>
    <%= link_to user.id, user_path(user) %>
    <%= user.first_name %>
    <%= user.last_name %>
    <%= user.email %>
    <%=l user.created_at %>

    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_user_path(user), :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                user_path(user),
                :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-mini btn-danger' %>
    <% end %>


  <%= link_to t('.new', :default => t("helpers.links.new")), new_user_path %>