<%- model_class = User -%>

<section>
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
  <ul>
    <li><%= @user.first_name %> <%= @user.last_name %></li>
    <!-- <li><#%= model_class.human_attribute_name(:email) %></li> -->
    <li><%= @user.email %></li>
  </ul>
</section>

<section>
  <% if @user.company %>
    <h2>Company Videos</h2>
    <% @user.company.screencasts.each do |screencast| %>
      <ul>
        <!-- <#%= screencast.embed %> -->
      	<li><%= link_to screencast.title, screencast_path(screencast) %></li>
      	<li><span class="section-title">Description: </span><%= screencast.description %></li>
        <li><span class="section-title">Length: </span><%= screencast.length %></li>
        <!-- <#%= screencast.created_at %> -->
      </ul>
    <% end %>
  <% end %>
</section>

<section>
  <% if @user.subscriptions %>
    <h2>Bookmarked Screencasts</h2>
    <% @user.subscriptions.each do |subscription| %>
      <ul>
        <!-- <#%= subscription.screencast.embed %> -->
      	<li><%= link_to subscription.screencast.title, screencast_path(subscription.screencast) %></li>
      	<li><span class="section-title">Description: </span><%= subscription.screencast.description %></li>
        <li><span class="section-title">Length: </span><%= subscription.screencast.length %></li>
        <!-- <#%= subscription.screencast.created_at %> -->
      </ul>
    <% end %>
  <% end %>
</section>

<!--  <#%= link_to t('.back', :default => t("helpers.links.back")), users_path  %>
      <#%= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user) %>
      <#%= link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) %> -->
  