<%= form_for @tag, :html => { :class => 'form-horizontal' } do |f| %>
  
	<%= f.hidden_field :screencast_id, :value => params[:id] %>
<div class="control-group">
    <%= f.label :keyword, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :keyword, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>	
  </div>
  <%= link_to "Back", screencast_url(params[:id]) %>

<% end %>
