<%= form_for @screencast, :html => { :multiparti => true, :class => 'form-horizontal' } do |f| %>


    <%= f.label :title, :class => 'form-label' %>
      <%= f.text_field :title, :class => 'form-field' %>

    <%= f.label :description, :class => 'form-label' %>
      <%= f.text_area :description, :class => 'form-field' %>

    <%= f.label :length, :class => 'form-label' %>
      <%= f.number_field :length, :class => 'form-field' %>

    <%= f.label :embed, :class => 'form-label' %>
      <%= f.text_field :embed, :class => 'form-field' %>

	<%= f.hidden_field :company_id %>

      <%= f.file_field :video, :class => "upload-field" %>

	<!-- the control will appear next to this, and the video ID will be stored here after the upload -->
	  <input type="hidden" name="video[panda_video_id]" id="returned_video_id" />

	  <!-- upload progress bar (optional) -->
	  <div id="upload_progress" class="panda_upload_progress"></div>

    <%= f.submit nil, :class => 'btn btn-special' %>
<!--     <#%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                screencasts_path %> -->
<% end %>

<script>
  <% auth_params = Panda.signed_params('post', "/videos.json") %>
  jQuery("#returned_video_id").pandaUploader(<%=raw auth_params.to_json %>, {
    // Uncomment the line below if your panda account is in the EU
    // api_host: 'api-eu.pandastream.com',
    upload_progress_id: 'upload_progress'
  });
</script>
