<%- model_class = Screencast -%>

<div class="main">
<h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>

  <%= model_class.human_attribute_name(:title) %>
  <%= model_class.human_attribute_name(:description) %>
  <%= model_class.human_attribute_name(:length) %>
  <%= model_class.human_attribute_name(:embed) %>
  <%= model_class.human_attribute_name(:created_at) %>
  <%=t '.actions', :default => t("helpers.actions") %>

  <% @screencasts.each do |screencast| %>
      
    <%= link_to screencast.title, screencast_path(screencast) %>
    <%= screencast.description %>
    <%= screencast.length %>
    <%= screencast.embed %>
    <%=l screencast.created_at %>
      
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_screencast_path(screencast), :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                screencast_path(screencast),
                :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-mini btn-danger' %>
    <% end %>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_screencast_path,
              :class => 'btn btn-primary' %>
</div>