<%- model_class = Screencast -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @screencast.title %></dd>
  <dt><strong>Description:</strong></dt>
  <dd><%= @screencast.description %></dd>
  <dt><strong>Length:</strong></dt>
  <dd><%= @screencast.length %></dd>
  <dt><strong>Uploader:</strong></dt>
  <dd><%= @screencast.company.name %></dd>
  <dt><%= video_embed_tag(@screencast.embed).html_safe %></dt>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              screencasts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_screencast_path(@screencast), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              screencast_path(@screencast),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
