<%- model_class = Screencast -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @screencast.title %></dd>
  <dt><strong>Description:</strong></dt>
  <dd><%= @screencast.description %></dd>
  <dt><strong>Length:</strong></dt>
  <dd><%= @screencast.length %></dd>
  <dt><strong>Uploader:</strong></dt>
  <dd><%= @screencast.company.name %></dd>
  <dt><%= video_embed_tag(@screencast.embed).html_safe %></dt>
</dl>

<div class="rating">
Average Rating
<% if @screencast.ratings %>
<%= @screencast.avg_rating %>	
<% else %>
This screencast has no ratings
<% end %>
	
Rate this screencast
<%= form_for @rating do |f| %>
	<%= f.hidden_field :screencast_id %>
	<%= f.select(:stars, options_for_select([1,2,3,4,5])) %>
	<%= f.submit "Rate!" %>
<% end %>

</div>

<% if User.find(session[:user_id]).admin == true %>
  <%= link_to "Edit", edit_screencast_path(@screencast) %>
  <%= link_to "Delete", screencast_path(@screencast) %>
<% end %>
